.login-formulario{
    display: flex; /*faz a pagina acompanhar a proporção da aba*/
    flex-direction: column; /*deixa no formato de coluna*/
    align-items: center;/*alinha os itens no centro*/
    justify-content: center; /* Centraliza os elementos na tela */
    height: 100vh;/*define a altura da janela visivel*/
    gap: 10px; /* Espaço entre os elementos */
    
}
.mago-login{
    display: block; /* Remove espaços extras ao redor da imagem */
    max-width: 50%; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 150px; /* Ajuste esse valor para o tamanho desejado */
    height: auto; /* Mantém a proporção */
}
.login {
    text-align: center;
}

.botão-comecar {
background-color: #ee665c;
padding: 15px;
border-radius: 8px;
color: #fff;
cursor: pointer;
font-size: 1em;
width: 100%;
max-width: 300px;

}


.botão-login:hover {
    background-color: #444;
}

.titulo{
    color: #333;
    font-size:  1.5em ;
    
}

.entrada-login{
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
}
.botão-comecar:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}